[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-script = "*"
flask-bootstrap = "*"
flask-moment = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-sqlacodegen = "*"
cymysql = "*"
pymysql = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
