{% extends "common/layout_main.html" %}
{% block content %}
<div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">日统计</span>
                            <h5>营收概况</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{ today_pay_orders_money }}</h1>
                            <small>近30日：{{ month_pay_orders_money }}</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">日统计</span>
                            <h5>订单</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{ today_pay_orders_nums }}</h1>
                            <small>近30日：{{ month_pay_orders_nums }}</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">日统计</span>
                            <h5>会员</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{ total_members_nums }}</h1>
                            <small>今日新增：{{ today_members_nums }}</small> ；
                            <small>近30日新增：{{ month_members_nums }}</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">日统计</span>
                            <h5>分享</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{ today_share_nums }}</h1>
                            <small>近30日：{{ month_share_nums }}</small>
                        </div>
                    </div>
                </div>
            </div>
{#            <div class="row">#}
{#                <div class="col-lg-12" id="member_order" style="height: 400px;border: 1px solid #e6e6e6;padding-top: 20px;">#}
{#                    使用highchart画图#}
{#                </div>#}
{#                <div class="col-lg-12" id="finance" style="height: 400px;border: 1px solid #e6e6e6;padding-top: 20px;">#}
{#                    使用highchart画图#}
{#                </div>#}
{#            </div>#}
        </div>
{% endblock %}